<div class="box">
  <div class="blob"></div>
  <div class="blob-1"></div>
  <div class="circle"></div>

  <div class="glass">
    <h1>
      <span class="title">New EHR</span>
    </h1>
    <hr style="border: 0.2rem solid white; border-radius: 0.1rem; color: white;">
    <div class="mt-4">
      <fieldset disabled>
        <div class="form-group row mt-4 mb-5">
          <label for="staticFullName" class="left-section-title col-sm-2 h5">Patient's Name</label>
          <div class="col-sm-10">
            <label for="staticFullName" class="right-section-title">Full Name</label>
            <input type="text" readonly class="form-control mt-2" id="staticFullName" placeholder="{{patient.name}}"
                   style="background-color:#b6b6b6;">
            <!--            <input type="text" readonly class="form-control mt-2" id="staticFullName" placeholder={{patients.name}} style="background-color:#b6b6b6;">-->
          </div>
        </div>
      </fieldset>
      <fieldset disabled>
        <div class="form-group row mb-5">
          <label for="staticHospital" class="left-section-title col-sm-2 h5">Hospital</label>
          <div class="col-sm-10">
            <label for="staticHospital" class="right-section-title">Name</label>
            <!--            <input type="text" readonly class="form-control mt-2" id="staticHospital" placeholder="Husada"-->
            <input type="text" readonly class="form-control mt-2" id="staticHospital" placeholder="{{hospital.name}}"
                   style="background-color:#b6b6b6;">
          </div>
        </div>
      </fieldset>

      <form [formGroup]="record" (ngSubmit)="submit()" class="form-group row mb-5">
        <label class="left-section-title col-sm-2 h5">EHR</label>

        <div class="col-sm-10">
          <label for="inputDisease" class="right-section-title">Disease</label>
          <input class="form-control mt-2" id="inputDisease" placeholder="Input Disease" list="datalistOptions">
          <datalist id="datalistOptions">
            <option value="Covid-19">
            <option value="Diabetes">
          </datalist>

          <div class="mt-5">
            <label for="inputDiagnose" class="right-section-title">Diagnose</label>
            <textarea class="form-control mt-2" id="inputDiagnose" rows="5" placeholder="Detail Diagnose"
                      formControlName="diagnose"></textarea>
          </div>
        </div>

        <div class="form-group row mt-3">
          <div class="col-sm-12">
            <button type="submit" class="button btn submit-btn">Submit EHR</button>
          </div>
        </div>
      </form>
    </div>
  </div>
</div>
