.content{
  padding: 0 2.6rem 0 2.6rem;
}

.box {
  width: 100vw;
  height: 100vh;
  background: rgba(101,199,247,0.5);
  padding: 3rem;
}

.glass{
  padding: 2rem;
  background: white;
  height: 100%;
  border-radius: 1.5rem;
  box-shadow: 0 4px 30px rgba(0, 0, 0, 0.15);
  border: 0.18rem solid rgba(255, 255, 255, 0.3);
}

h1{
  font-size: 38pt;
  line-height: 1.3;
  font-family: Helvetica;
  font-weight: 550;
  text-align: center;
  color: #013b84;
}

.table-header{
  &-title{
    font-size: 13pt;
    line-height: 1.7;
    font-family: "Helvetica";
    font-weight: 400;
    color: #676767;
  }
}

.table-row {
  border-radius: 8px;

  &-detail {
    font-size: 13pt;
    line-height: 2.5;
    font-family: "Helvetica";
  }
  &:hover{
    background: rgba(96,164,245,0.3);
    cursor: pointer;
  }
}
table {  table-layout:fixed; }
td { overflow:hidden;white-space:nowrap;  }

.back-btn{
  background-color: #013b84;
  color: white;
  cursor: pointer;
  border-radius: 0.6rem;
  transition-duration: 0.3s;
  width: 160px;
  height: 40px;
  //float: right;
  margin: 2rem 0 2rem 1.5rem;

  &:hover{
    box-shadow: 0 0 11px rgba(5,117,230,100);
  }
}


