<div class="box">
  <div class="left-section">
    <div class="position">
      <img src="../../../assets/images/doctorprofile.png" alt="illustration"
           class="illustration">
      <div class="mt-4">
        <img src="../../../assets/images/logodepan.png" alt="logo" width="173" height="65">
      </div>
    </div>
  </div>

  <div class="right-section">
    <h1>Create Doctor New Account</h1>
    <hr class="mt-3" style="border: 0.13rem solid  #013b84; border-radius: 0.3rem;">

    <form class="form-group row mt-5">
      <div class="form-group">
        <label for="inputFullName" class="section-title">Full Name</label>
        <input class="form-control mt-2" id="inputFullName" placeholder="dr. Agus Narendra"
               formControlName="name">
      </div>

      <div class="form-group mt-5">
        <label for="inputSpecialty" class="section-title">Speciality</label>
        <input class="form-control mt-2" id="inputSpecialty" placeholder="Neurologi" list="specialty"
               formControlName="specialty">
        <datalist id="specialty">
          <option value="Anestesi">
          <option value="Neurologi">
          <option value="Umum">
        </datalist>
      </div>

      <div class="form-group mt-5">
        <label for="inputEmail" class="section-title">Email</label>
        <input class="form-control mt-2" id="inputEmail" placeholder="agus.narendra@email.com"
               formControlName="email" type="email">
      </div>

      <div class="form-group mt-5">
        <label for="inputPassword" class="section-title">Password</label>
        <input type="password" class="form-control mt-2" id="inputPassword"
               placeholder="Enter password" formControlName="password">
        <input onclick="myFunction()" class="mt-3" type="checkbox" name="Show Password" value="something"> Show Password
      </div>


      <div class="form-group mt-5">
        <div class="col-12 button-box">
          <button type="submit" class="button btn submit-btn">Submit</button>
          <button (click)=previousPage() type="button" class="button-back btn submit-btn">Back</button>
        </div>
      </div>
    </form>

  </div>
</div>
