<div class="box">
  <div class="blob"></div>
  <div class="blob-1"></div>
  <div class="circle"></div>

  <div class = "glass">
    <nav class="navbar navbar-light">
      <div class="container-fluid">
        <a class="btn navbar-brand">
          <img src="/docs/5.1/assets/brand/bootstrap-logo.svg" alt="" width="30" height="24" class="d-inline-block align-text-top">
          App's Name
        </a>
      </div>
    </nav>

    <section class="content">
      <div class="content-text">
        <h1>
          <span class="title">Check your <b style="color: #013b84;font-weight: 800;font-size: 6vw;font-family: Nunito">Health</b></span><br/>
          <span class="description">at Home</span>
        </h1>
        <p>
          Your health is number one priority <br>
          Get started by login to website
        </p>

        <button class="mt-3 btn navbar-login-logout-btn btn-lg border-none" type="submit" routerLink="/login" >Login</button>
        <!--          <button class="btn navbar-login-logout-btn btn-lg border-none" type="submit" (click)="logout()">Logout</button>-->
      </div>
      <div class="content-illustration">
        <img src="../../../assets/images/doctorillustration2.png" alt="doctorIllustration" class="content-illustration-img">
      </div>
    </section>
  </div>
</div>
