<div class="box">
  <div class="glass">
    <app-header></app-header>
    <app-patient-card></app-patient-card>

    <div class="content mt-3">
      <app-record-search></app-record-search>
      <table-diseases [diseases]="diseases['decrypted']"></table-diseases>
      <table-ciphers
        (toggle)="toggleQrScanner()"
        [ciphers]="diseases.encrypted">
      </table-ciphers>
    </div>
  </div>
</div>

<app-qr-scanner
  *ngIf="scannerToggled"
  (toggle)="toggleQrScanner()"
  (qrResult)="getSessionKey($event)"></app-qr-scanner>
