.content{
  padding: 0 2.6rem 0 2.6rem;
}

.box {
  width: 100vw;
  height: 100vh;
  position: relative;
  background: rgba(101,199,247,0.5);
  padding: 3rem;
}

.glass{
  padding: 2rem;
  background: white;
  height: 100%;
  border-radius: 1.5rem;
  box-shadow: 0 4px 30px rgba(0, 0, 0, 0.15);
  border: 0.18rem solid rgba(255, 255, 255, 0.3);
}

h1{
  font-size: 35pt;
  line-height: 1.3;
  font-family: "Arial Rounded MT Bold";
  font-weight: 400;
  text-align: center;
  color: #013b84;
}

.table-header{
  &-title{
    font-size: 13pt;
    line-height: 1.7;
    font-family: "Helvetica Neue";
    font-weight: 400;
    color: #b2b2b2;
  }
}

.table-row {
  border-radius: 8px;

  &-detail {
    font-size: 13pt;
    line-height: 2.5;
    font-family: "Helvetica Neue";
  }
  &:hover{
    background: rgba(96,164,245,0.3);
    cursor: pointer;
  }
}
table {  table-layout:fixed; }
td { overflow:hidden;white-space:nowrap;  }
