<div class="box">
    <app-header></app-header>
    <app-patient-card></app-patient-card>

    <div class="content mt-3">

      <div class="search-container">
        <h1 class="search-listEhr">Health Record List</h1>
        <button type="button" class="add-ehr-btn btn" routerLink="/records/create">+ New Health Record</button>
      </div>

      <div class="flex-container">
        <div class="flex-child">
          <table-diseases [diseases]="diseases['decrypted']"></table-diseases>
        </div>

        <div class="flex-child">
          <table-ciphers (toggle)="toggleQrScanner()" [ciphers]="diseases.encrypted"> </table-ciphers>
        </div>
      </div>

    </div>
</div>

<app-qr-scanner
  *ngIf="scannerToggled"
  (toggle)="toggleQrScanner()"
  (qrResult)="getSessionKey($event)"></app-qr-scanner>
