<div class="table-wrapper mt-5 bg-white p-md-4">
  <div class="table-status mt-2">
    <h1>Locked diseases</h1>
    <i class="material-icons" style="font-size: 25pt; margin-left:0.8rem;color: #b22222;">vpn_key</i>
  </div>

  <div class="table-responsive">
    <table class="table mt-4">
      <thead class="table-header">
      <tr>
        <th class="table-header-title" scope="col">Hospitals</th>
        <th class="table-header-title" scope="col">Diseases Total</th>
        <th class="table-header-title" scope="col">Status</th>
      </tr>
      </thead>

      <tbody class="table-disease-detail" id="collapseOne">
      <tr class="table-row" *ngFor="let list of diseases.encrypted">
        <td class="table-row-detail pt-3" scope="row" style="width: 30%; text-align: left">{{list.hospital.name}}</td>
        <td class="table-row-detail pt-3" style="width: 30%; text-align: left">{{list.diseases.length}}</td>
        <span class="material-icons" style="font-size: 20pt;color: #b22222;margin-top: 12px">lock</span>

        <td class="table-row-detail pt-2" style="text-align: center;">
          <button class="btn btn-sm btn-unlock">Unlock</button>
        </td>
      </tr>
      </tbody>
    </table>
  </div>
</div>




