<div class="table-wrapper mt-5 bg-white p-md-4">
  <div class="table-status mt-2">
    <h1>Unlocked diseases</h1>
    <i class="material-icons" style="font-size: 25pt; margin-left:0.8rem;color: limegreen;">vpn_key</i>
  </div>
  <div class="table-responsive">
    <table class="table mt-4">
      <thead class="table-header">
      <tr>
        <th class="table-header-title" scope="col">Diseases</th>
        <th class="table-header-title" scope="col">Hospitals Total</th>
        <th class="table-header-title" scope="col">Status</th>
      </tr>
      </thead>

      <!--      <tbody *ngFor="let disease of diseases" class="table-disease-detail" id="collapseOne">-->
      <tbody class="table-disease-detail" id="collapseOne">
      <tr class="table-row">
        <!--        <td class="table-row-detail" scope="row" style="width: 30%; text-align: left">{{disease._id.hospital}}</td>-->
        <td class="table-row-detail pt-3" scope="row" style="width: 30%; text-align: left">coca cola</td>
        <!--        <td class="table-row-detail" style="width: 30%; text-align: left">{{disease.total}}</td>-->
        <td class="table-row-detail pt-3" style="width: 30%; text-align: left">2</td>
        <span class="material-icons" style="font-size: 20pt;color: limegreen;margin-top: 12px">lock_open</span>

        <td class="table-row-detail pt-2" style="text-align: center;">
          <a class="btn btn-sm btn-unlock" routerLink="/records/show" role="button">See Details</a>
        </td>
      </tr>
      </tbody>
    </table>
  </div>

  <!--  <table class="table">-->
  <!--    <thead-->
  <!--      class="table-disease-header" data-toggle="collapse" data-target="#collapseOne" aria-expanded="true"-->
  <!--      aria-controls="collapseOne">-->
  <!--    <tr>-->
  <!--      <th class="table-collapse-header" scope="col" style="width: 30%; text-align: left"></th>-->
  <!--      <th class="table-collapse-header" scope="col" style="width: 30%; text-align: center"></th>-->
  <!--      <th class="table-collapse-header" scope="col" style="width: 10%; text-align: left;"><i-->
  <!--        class="material-icons chevron">chevron_right</i></th>-->
  <!--    </tr>-->
  <!--    </thead>-->

  <!--      <tbody class="table-disease-detail" id="collapseOne">-->
  <!--      <tr>-->
  <!--        <th class="table-collapse-detail" scope="row" style="width: 30%; text-align: left">Diabetes-1</th>-->
  <!--        <td class="table-collapse-detail" style="width: 30%; text-align: left">Husada</td>-->
  <!--        <td class="table-collapse-detail" style="width: 30%; text-align: center">Date: 21/2/22-->
  <!--          <span><i class="material-icons"-->
  <!--                   style="margin-left:50px;color: limegreen; transform: translateY(25%);">vpn_key</i></span>-->
  <!--        </td>-->
  <!--        <td class="table-collapse-detail" style="width: 10%; text-align: left; text-align: center;">-->
  <!--          <a class="btn btn-sm btn-see-detail" routerLink="/records/show" role="button">See Detail</a>-->
  <!--        </td>-->
  <!--      </tr>-->
  <!--      </tbody>-->
  <!--  </table>-->
</div>




