.table-header{

  &-title{
    font-size: 1vw;
    line-height: 1.7;
    font-family: "SF Pro Rounded";
    font-weight: 400;
    color: grey;
  }
}

.btn-see-detail{
  background-color: #013b84;
  color: white;
  border-radius: 0.5rem;
}

.chevron{
  display: flex;
  justify-content: center;
  align-items: center;
  transform: translateY(8%);
  cursor: pointer;
}

.table-collapse-detail{
  justify-content: center;
  align-items: center;
  transform: translateY(8%);
  font-size: 0.8vw;
  line-height: 1.5;
  font-weight: 350;
  font-family: "Roboto";
}

.table-collapse-header{
  font-size: 0.8vw;
  line-height: 1.5;
  font-weight: 450;
  font-family: "SF Pro Rounded";
}

.table-disease-header{
  background: rgba(96,164,245,255);
  border-radius: 2rem;

}

//details {
//  user-select: none;
//}
//
//details>summary span.icon {
//  width: 24px;
//  height: 24px;
//  transition: all 0.3s;
//  margin-left: auto;
//}
//
//details[open] summary span.icon {
//  transform: rotate(180deg);
//}
//
//summary {
//  display: flex;
//  cursor: pointer;
//}
//
//summary::-webkit-details-marker {
//  display: none;
//}
//
//table {
//  width: 100%;
//}
