<a class="app-logo" href="#">
  <img src="../../../assets/images/logodepan.png" alt="logo" height="65" class="d-inline-block align-text-top">
</a>

<div class="box">
  <div class="blob"></div>
  <div class="blob-1"></div>
  <div class="circle"></div>

  <div class="glass">
    <section class="content">
      <div class="content-text">
        <h1 class="title">LOG IN</h1>

        <form [formGroup]="login" (ngSubmit)="submit()">
          <div class="mb-3 input-content">
            <label for="inputEmail" class="form-label input-label">Email</label>
            <div class="input-field">
              <i class="material-icons icon">person</i>
              <input type="email" class="form-control shadow-none" id="inputEmail"
                placeholder="Enter your email address" formControlName="email" required>
              <mat-error *ngIf="!login.get('email')?.errors?.['required'] && login.get('email')?.errors?.['pattern']">
                Please enter your valid email address!
              </mat-error>
              <mat-error
                *ngIf="login.get('email')?.invalid && (login.get('email')?.dirty || login.get('email')?.touched) && login.get('email')?.errors?.['required']">
                Email is required
              </mat-error>
            </div>
          </div>

          <div class="mb-3 input-content">
            <label for="inputPassword" class="form-label input-label">Password</label>
            <div class="input-field">
              <i class="material-icons icon">lock</i>
              <input type="password" class="form-control shadow-none" id="inputPassword"
                placeholder="Enter your password" formControlName="password" required>
              <mat-error
                *ngIf="login.get('password')?.invalid && (login.get('password')?.dirty || login.get('password')?.touched) && login.get('password')?.errors?.['required']">
                Password is required
              </mat-error>
            </div>
          </div>

          <button class="btn login-btn btn-lg" type="submit" [disabled]="!login.valid">Login</button>
        </form>
      </div>
    </section>
  </div>

  <div>{{doctor}}</div>
</div>
