<div class="table-wrapper mt-4 bg-white p-md-4">
  <div class="table-status">
    <i class="material-icons" style="font-size: 25pt;color: limegreen; margin-right:0.5rem;transform: rotate(-90deg);">vpn_key</i>
    <h1 class="mr-3" style="margin-bottom: 0;margin-right: 2.5rem">Diseases</h1>
    <div class="col-9">
      <input type="text" class="form-control" name="search" autocomplete="off" [(ngModel)]="searchDisease" placeholder="Search Disease">
    </div>
  </div>

  <div class="table-responsive">
    <table class="table mt-4">
      <thead class="table-header">
      <tr>
        <th class="table-header-title" scope="col">Name</th>
        <th class="table-header-title" scope="col">Hospitals Total</th>
<!--        <th class="table-header-title" scope="col">Status</th>-->
      </tr>
      </thead>

      <tbody class="table-disease-detail" id="collapseOne">
      <tr class="table-row" *ngFor="let group of diseases | filter:searchDisease; let i = index;">
        <td class="table-row-detail pt-3" style="width: 40%; text-align: left">{{group.name}}</td>
        <td class="table-row-detail pt-3" style="width: 30%; text-align: left">{{group['ciphers'].length}}</td>
<!--        <span class="material-icons" style="font-size: 20pt;color: limegreen;margin-top: 12px">lock_open</span>-->

        <td class="table-row-detail pt-2" style="text-align: center;">
          <a class="btn btn-unlock" role="button" (click)=records(i)>Details</a>
        </td>
      </tr>
      </tbody>
    </table>
  </div>
</div>
