<!--<zxing-scanner *ngIf="scannerEnabled" #scanner (scanSuccess)="scanSuccessHandler($event)">-->
<!--</zxing-scanner>-->
<!--<button (click)="enableScanner()" *ngIf="!scannerEnabled" type="button" class="btn btn-success">LEER-->
<!--  OTRO-->
<!--</button>-->

<zxing-scanner (scanSuccess)="onCodeResult($event)"></zxing-scanner>

<section class="results" *ngIf="qrResultString">
  <div>
    <small>Result</small>
    <strong>{{ qrResultString }}</strong>
  </div>
  <button mat-icon-button (click)="clearResult()">&times;</button>
</section>
