<div class="box">

  <div class="glass">
    <app-header-logout></app-header-logout>
    <app-card-patient-data></app-card-patient-data>


    <div class="content mt-3">
      <app-search-list-ehr></app-search-list-ehr>
      <app-table-dropdown></app-table-dropdown>
    </div>

    <div class="scan-qr-code-background" id="scan-qr-code">
      <div class="qr-code-card">
        <div class="card-close-section">
            <a routerLink="/list-ehr" class="close-button"></a>
          </div>


        <div class="card-details">
          <img src="../../../assets/images/qrscan.png" alt="QrScanner">

          <div class="instruction">
            <p>You need to scan patient<br>barcode to check the disease</p>
          </div>

          <div class="scan-qr-btn">
            <a routerLink="/scan-qr" type="submit" class="btn submit-btn">Scan QR</a>
          </div>
        </div>
      </div>
    </div>
  </div>
</div>
