<div class="read-ehr">
    <div class="form-group row mb-3">
      <label for="staticDate" class="col-sm-2 col-form-label-lg">Date</label>
      <div class="col-sm-10">
        <input type="text" readonly class="form-control-plaintext" id="staticDate" value="21 Desember 2021">
      </div>
    </div>
  <div class="form-group row mb-3">
    <label for="staticHospital" class="col-sm-2 col-form-label-lg">Hospital</label>
    <div class="col-sm-10">
      <input type="text" readonly class="form-control-plaintext" id="staticHospital" value="Husada">
    </div>
  </div>
  <div class="form-group row mb-3">
    <label for="staticDiagnose" class="col-sm-2 col-form-label-lg">Diagnose</label>
    <div class="col-sm-10">
      <input type="text" readonly class="form-control-plaintext" id="staticDiagnose" value="Husada">
    </div>
  </div>
  <div class="form-group row">
    <label for="staticIntegrityCheck" class="col-sm-2 col-form-label-lg">Integrity Check</label>
    <div class="col-sm-10">
      <label for="staticIntegrityCheck" class="h6">DDB</label>
      <input type="text" readonly class="form-control-plaintext" id="staticIntegrityCheck" value="456789">
      <div class="mt-3">
        <label for="staticBlockchain" class="h6">Diagnose</label>
        <input type="text" readonly class="form-control-plaintext" id="staticBlockchain" value="456789">
      </div>
    </div>
  </div>
</div>
