.content-search{
  margin-top:5vh;
}

.search{
  &-container {
    align-items: center;
    position: relative;
  }

  &-listEhr{
    font-size: 3vh;
    padding-right: 0;
    font-weight: normal;
    letter-spacing: 2px;
  }

  &-input {
    padding: 10px;
    border-radius: 15px;
    box-shadow: rgba(99, 99, 99, 0.2) 0px 2px 8px 0px;
  }
}

.content {
  margin: 15px;
}

.add-ehr-btn{
  border-radius: 10px;
  font-weight: 700;
  color: white;
  transition-duration: 0.3s;
  cursor: pointer;
  width: 7.5%;

  &:hover {
    color: #3f51b5;
    background-color: #fff;
    border: 1px solid #3f51b5;
  }
}
