<app-header-logout></app-header-logout>

<div class="content">
  <app-card-patient-data></app-card-patient-data>
  <div class="content-search">
    <div class="search-container row">
      <div class="col-sm-1 search-listEhr">List EHR</div>
      <!--    <form class="search-form" #searchBar="ngForm" (ngSubmit)="onSubmit(searchBar)">-->
      <!--      <input-->
      <!--        class="search-input"-->
      <!--        type="search"-->
      <!--        name="searchBar"-->
      <!--        ngModel-->
      <!--        [placeholder]="placeHolders"-->
      <!--      />-->
      <!--      <button class="search-button">Search</button>-->
      <!--    </form>-->
      <div class="col-sm-10">
        <input type="text" class="form-control" placeholder="Search Disease">
      </div>
      <button type="button" class="col-sm-1 add-ehr-btn btn btn-info">+ Add EHR</button>
    </div>
  </div>
  <div class="table">

  </div>

</div>
