<div class="box">

  <div class="glass">
    <h1 class="disease-title d-inline-block align-text-top">Diabetes-1</h1>

    <div class="content mt-3">
      <table class="table">
        <thead class="thead-dark">
        <tr>
          <th scope="col">No</th>
          <th scope="col">Date</th>
          <th scope="col">Hospital</th>
          <th scope="col">Diagnose</th>
        </tr>
        </thead>
        <tbody>
        <tr>
          <th scope="row">1</th>
          <td>Mark</td>
          <td>Otto</td>
          <td>@mdo</td>
        </tr>
        </tbody>
      </table>
    </div>
  </div>
</div>
