.box {
  width: 100vw;
  height: 100vh;
  position: relative;
  background: linear-gradient(310deg, rgba(0,82,212,0.7) 2%, rgba(101,199,247,0.7) 60%, rgba(156,236,251,0.7) 100%);
  padding: 1.5rem;
}

.circle {
  background: rgb(41, 128, 185);
  background: linear-gradient(10deg, rgba(41, 128, 185, 0.7) 0%, rgba(109, 213, 250, 0.7) 58%, rgba(255, 255, 255, 0.7) 100%);
  position: absolute;
  filter: blur(2rem);
  border-radius: 50%;
  right: 0rem;
  top: -18rem;
  width: 40vw;
  height: 68vh;
  min-width: 20px;
  min-height: 20px;
}

.blob {
  width: 900px;
  border: 0.5rem solid rgba(255, 255, 255);
  height: 900px;
  border-radius: 70% 40% 30% 80% / 55% 45% 60% 50%;
  left: -10rem;
  top: -13rem;
  filter: blur(1rem);
  background: linear-gradient(150deg, rgba(0,82,212,0.7) 20%, rgba(41,128,185,0.7) 70%, rgba(255, 255, 255, 0.7) 100%);
  position: absolute;

  &-1{
    width: 500px;
    border: 1rem solid rgba(255, 255, 255);
    height: 500px;
    border-radius: 70% 40% 30% 80% / 55% 45% 60% 50%;
    left: 20rem;
    bottom: 0rem;
    filter: blur(1rem);
    background: rgb(41, 128, 185);
    background: linear-gradient(210deg, rgba(41, 128, 185, 0.7) 0%, rgba(109, 213, 250, 0.7) 58%, rgba(255, 255, 255, 0.7) 100%);
    position: absolute;
  }
}

.glass{
  background: rgba(255, 255, 255, 0.3);
  border-radius: 2rem;
  box-shadow: 0 4px 30px rgba(0, 0, 0, 0.15);
  backdrop-filter: blur(4rem);
  -webkit-backdrop-filter: blur(4rem);
  border: 0.18rem solid rgba(255, 255, 255, 0.3);
  z-index: 2;
  height: 100%;
}

.content{
  display: flex;
  align-items: center;
  justify-content: center;
  gap: 2rem;
  margin: 0 1rem 0 1rem;

  &-text{
    padding-left: 1.5rem;
  }

  &-text h1{
    font-size: 3.7vw;
    margin-bottom: 1.5rem;
    font-weight: 350;
    line-height: 1.2;
    font-family: "SF Pro Rounded";
    letter-spacing: 0.03em;
  }
  &-text p{
    margin-bottom: 0.5rem;
    font-size: 1.3vw;
    line-height: 1.7;
    font-weight: 300;
  }

  &-illustration-img{
    width: 100%;
    max-width: 1000px;
    height: auto;
    filter: drop-shadow(0px 3px 8px rgba(0, 0, 0, 0.35));
  }
}


//@media only screen and (max-width: 480px) {
//  .illustration-img{
//    width: 70%;
//  }
//
//  .content {
//    &-text{
//      flex-shrink: 0;
//    }
//  }
//
//  .illustration{
//    flex-shrink: 1;
//    text-align: center;
//  }
//}
//
//@media screen and (min-width: 750px) {
//
//  .content {
//    &-text{
//      flex-shrink: 0;
//    }
//  }
//
//  .illustration{
//    flex-shrink: 1;
//    text-align: center;
//  }
//}
//
//@media screen and (max-width: 600px) {
//  .illustration-img{
//    width: 70%;
//  }
//
//  .content {
//    &-text{
//      flex-shrink: 0;
//    }
//  }
//
//  .illustration{
//    flex-shrink: 1;
//    text-align: center;
//  }
//}

