<div class="box">
  <div class="blob"></div>
  <div class="blob-1"></div>
  <div class="circle"></div>

  <div class = "glass">
    <app-header-logout></app-header-logout>
    <section class="content">
      <div class="content-text">
        <h1>
          <span class="title">Check your <b style="color: #013b84;font-weight: 700;font-size: 6vw;">Health</b></span><br/>
          <span class="description">at Home</span>
        </h1>
        <p>
          Your health is number one priority
        </p>
      </div>
      <div class="content-illustration">
        <img src="../../../assets/images/doctorillustration2.png" alt="doctorIllustration" class="content-illustration-img">
      </div>
    </section>
  </div>
</div>
