<div class="box">
  <div class="blob"></div>
  <div class="blob-1"></div>
  <div class="circle"></div>

  <div class="glass">
    <div class="illustration">
      <img src="assets/images/stethoscope.png" alt="stethoscopeIllustration" class="illustration-img">
    </div>

    <div class="container-fluid">
      <h1>
        <span class="disease-title d-inline-block align-text-top">{{disease}}</span>
      </h1>
      <div class="d-flex"></div>
    </div>

    <hr style="border: 0.3rem solid #013b84; border-radius: 0.3rem;">

    <div class="read-ehr mt-3">
      <div class="row mt-3 mb-5">
        <label class="left-section-title col-sm-3">Hospital:</label>
        <div class="col-sm-9">
          <h2 readonly="" class="right-section-title">{{record['hospital'].name}}</h2>
        </div>
      </div>

      <div class="row mb-5">
        <label class="left-section-title col-sm-3">Doctor:</label>
        <div class="col-sm-9">
          <h2 readonly class="right-section-title">{{record['doctor'].name}}</h2>
        </div>
      </div>

      <div class="row mb-5 mt-4">
        <label class="left-section-title col-sm-3">Date:</label>
        <div class="col-sm-9">
          <h2 type="text" readonly class="right-section-title">{{record.date | date}}</h2>
        </div>
      </div>

      <div class="row mb-5">
        <label class="left-section-title col-sm-3">Diagnose:</label>
        <div class="col-sm-7">
          <h2 readonly class="right-section-title">{{record['decipher']}}</h2>
        </div>
      </div>

      <div class="row mb-5">
        <label class="left-section-title col-sm-3">Verification:</label>
        <div class="col-sm-7">
          <h2 *ngIf="record['verified']" readonly class="right-section-title" style="color: green">Verified with Blockchain!</h2>
          <h2 *ngIf="record['verified'] == false" readonly class="right-section-title" style="color: red">Blockchain verification failed!</h2>
        </div>
      </div>

      <button (click)=previousPage() type="button" class="btn back-btn">Back</button>
    </div>
  </div>
</div>
