<div class="box">
  <div class="blob"></div>
  <div class="blob-1"></div>
  <div class="circle"></div>

  <div class = "glass">
    <app-header></app-header>
    <section class="content">
      <div class="content-text">
        <h1>
          <span class="first-line">Get Started by</span><br>
          <span class="second-line">Scanning Barcode</span>
        </h1>
        <p>
          Scan patient barcode to get their
          medical record data
        </p>
      </div>

      <a class="btn scan-qr-btn btn-lg" routerLink="/scan-qr" type="submit">Scan QR</a>
<!--      <div class="content-illustration">-->
<!--        <img src="../../../assets/images/doctorillustration2.png" alt="doctorIllustration" class="content-illustration-img">-->
<!--      </div>-->
    </section>
  </div>
</div>
