.show-patient-data{
  padding: 2rem;
  width: 100%;
  height: 25%;
}

.mat-card {
  border-radius: 1rem;
  background: rgba(96,164,245,255);
  box-shadow: 0px 11px 20px rgb(179, 212, 255);
}

/* Clear floats after the columns */
.row:after {
  content: "";
  display: table;
  clear: both;
}

.most-left{
  width: 15%;
}

.left{
  width: 30%;
}

.right{
  width: 50%;
}

.left, .right{
  margin: 1rem;
}

.mat-card img{
  max-width: 110px;
  margin-top: 0;
  margin-bottom: 0;
  padding-top: 0.7rem;
  padding-bottom: 0.5rem;
  margin-left: 3rem;
}

.patient-detail-key{
  font-family: "Roboto";
  font-size: 16pt;
  margin: auto 3rem auto auto;
}

.patient-name{
  font-family: "Helvetica";
  margin-top:1rem;
  font-size: 27pt;
  margin-bottom: 2rem;
}

.blockchain-title{
  font-family: "Roboto";
  margin-top:1rem;
  font-size: 18pt;
  margin-bottom: 2rem;
}
