.content-search{
  position: relative;
}

.search{
  &-container {
    align-items: center;
  }

  &-listEhr{
    font-size: 1.6vw;
    padding-right: 0;
    font-weight: 500;
    letter-spacing: 2px;
    font-family: "SF Pro Rounded";
  }
}

.form-control{
  background-color: white;
  border: none;
}

.add-ehr-btn{
  border-radius: 0.5rem;
  color: #013b84;
  cursor: pointer;
  font-family: "SF Pro Rounded";
  background: rgb(179, 212, 255, 0.7);
  max-width: 7.5vw;

  &:hover {
    color: white;
    background-color: #013b84;
    transition-duration: 0.4s;
  }
}
