.search{
  &-container {
    align-items: center;
  }

  &-listEhr{
    font-size: 20pt;
    padding-right: 0;
    font-weight: 400;
    letter-spacing: 2px;
    font-family: "Helvetica Neue";
  }
}

.form-control{
  background-color: white;
  border: none;
}

.add-ehr-btn{
  border-radius: 0.5rem;
  color: white;
  cursor: pointer;
  font-family: "Helvetica Neue";
  background-color: #013b84;
  max-width: 7.5vw;

  &:hover {
    box-shadow: 0 0 11px rgba(5,117,230,100);
    transition-duration: 0.4s;
  }
}
