<script src="ciphers.table.component.ts"></script>
<div class="table-wrapper mt-4 bg-white p-md-4">
  <div class="table-status mt-2">
    <i class="material-icons" style="font-size: 25pt; margin-right:0.5rem;color: #b22222;transform: rotate(-90deg);">vpn_key</i>
    <h1 style="margin-bottom: 0;">Hospitals</h1>
  </div>

  <div class="table-responsive">
    <table class="table mt-4">
      <thead class="table-header">
      <tr>
        <th class="table-header-title" scope="col">Name</th>
        <th class="table-header-title" scope="col">Diseases Total</th>
<!--        <th class="table-header-title" scope="col">Status</th>-->
      </tr>
      </thead>

      <tbody class="table-disease-detail">
      <tr class="table-row" *ngFor="let element of ciphers">
        <td class="table-row-detail pt-3" style="width: 40%; text-align: left">{{element.hospital.name}}</td>
        <td class="table-row-detail pt-3" style="width: 30%; text-align: left">{{element.diseases.length}}</td>
<!--        <span class="material-icons" style="font-size: 20pt;color: #b22222;margin-top: 12px">lock</span>-->

        <td class="table-row-detail pt-2" style="text-align: center;">
<!--          <button class="btn btn-sm btn-unlock" (click)="openQrScanner()">Unlock</button>-->

          <button class="btn btn-unlock" (click)="triggerScanner()">Request Access</button>
        </td>
      </tr>
      </tbody>
    </table>
  </div>
</div>
